<mat-toolbar color="primary">
  <span class="flex justify-start lg:w-0 lg:flex-1">
    <a routerLink="home">
      <span class="sr-only">Préstamos App</span>
      <img
        class="h-8 w-auto sm:h-10"
        src="https://uploads-ssl.webflow.com/61eacada2d31db4a1d761030/61eacada2d31db2f2576105f_logo_full_color.svg"
        alt="Préstamos App"
      >
    </a>
  </span>
  <span class="flex-1"></span>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
