<section class="text-gray-400 body-font h-full" style="background-color: #0c003d !important;">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="Error404"
      src="./assets/error.png"
    >
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
        Error 404 : Página No Encontrada
      </h1>
      <p class="mb-8 leading-relaxed">
        Es posible que la página que está buscando haya sido eliminada debido a un cambio de nombre o no esté disponible temporalmente.
      </p>
      <div class="flex justify-center">
        <button mat-raised-button color="primary" routerLink="/home">Regresar al Home</button>
      </div>
    </div>
  </div>
</section>
